.logo img{
    width: 3rem;
}

.logo   {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img:first-child   {
    margin-inline: 1rem;
}

.banner {
    background-image: url("../imgs/banner.png");
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner h2  {
    font-size: 3rem;
}

.info   {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.content    {
    margin-block: 1rem;
}

.first-section_2boxes  {
    display: flex;
    flex-direction: row;
}

.first-section_2boxes div   {
    margin-right: 1rem;
}

.box1   {
    flex: 1;
}

.box2   {
    flex: 1;
    width: 10rem;
}

#demo-button    {
    color: #fff;
    padding-block: 0.5rem;
    padding-inline: 5rem;
    background-color: #00a2ff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

#icon   {
    padding: 1rem;
    margin-inline: 1.5rem;
    width: 5rem;
}

.user-ui    {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}

.fake-user main {
    background-color: aliceblue;
    padding: 1rem;
}

.fake-user ul   {
    width: fit-content;
    margin-block: 1rem;
    border-bottom: #66d4bb solid 1px;
}

.submit {
    text-transform: uppercase;
    border-radius: 1rem;
    color: #fff;
    background-color: #66d4bb;
}